.idea
node_modules
resources/clangd
resources/mingw
CppProject
dist
build/path-backup.txt
web/vendor
web/vs
android/.gradle
android/.kotlin
android/.idea
android/build
android/app/build
android/app/src/main/assets/toolchain
android/local.properties

temp